<div class="russianwords index">
	<h2><?php echo __('Russianwords'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('word'); ?></th>
			<th><?php echo $this->Paginator->sort('definition'); ?></th>
			<th><?php echo $this->Paginator->sort('phonetics'); ?></th>
			<th><?php echo $this->Paginator->sort('synonym'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($russianwords as $russianword): ?>
	<tr>
		<td><?php echo h($russianword['Russianword']['id']); ?>&nbsp;</td>
		<td><?php echo h($russianword['Russianword']['word']); ?>&nbsp;</td>
		<td><?php echo h($russianword['Russianword']['definition']); ?>&nbsp;</td>
		<td><?php echo h($russianword['Russianword']['phonetics']); ?>&nbsp;</td>
		<td><?php echo h($russianword['Russianword']['synonym']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $russianword['Russianword']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $russianword['Russianword']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $russianword['Russianword']['id']), null, __('Are you sure you want to delete # %s?', $russianword['Russianword']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Russianword'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Spanishwords'), array('controller' => 'spanishwords', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Spanishword'), array('controller' => 'spanishwords', 'action' => 'add')); ?> </li>
	</ul>
</div>
